<div id="services" class="row">
    <div class="col-12 title"><center><h2>Services</h2></center></div>
    {% for service in services %}
        <div class="col-12 col-md-3 service">
            <img width="100%" src="/images/services/{{service.image}}" />
            <h3>{{service.titre}}</h3>
            <p>{{service.description}}</p>
        </div>
    {% endfor %}
</div>