<div id="slider" class="row">
    <div class="col-12">
        <h1>Garage V. Parrot</h1><br/><br/>
        <a href="/#occasions"><button class="btn btn-primary">Voir nos modèles d'occasion</button></a>
        
    </div>
</div>