{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<center>
<form method="post" class="text-center" id="login">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            
        </div>
    {% endif %}
<center><img class="logo" src="images/logo.png" /></center>
<div style="display:inline-block;width:20rem;" class="card text-white bg-primary mb-3 text-center mt-5" style="max-width: 20rem;">

  <div class="card-body text-center">
    <!--<label for="inputEmail">Email</label>-->
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" class="form-control text-center" autocomplete="email" required autofocus>
    <!--<label for="inputPassword">{{'Password'|trans}}</label>-->
    <input type="password" name="password" id="inputPassword" class="form-control text-center" placeholder="Mot de passe" autocomplete="current-password" required>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <button class="btn btn-lg btn-secondary mt-4 text-center " type="submit">
        Se connecter
    </button>
  </div>
</div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


</form>
</center>
{% endblock %}
