{% extends 'base.html.twig' %}

{% block title %}AJouter horaire{% endblock %}

{% block body %}
{% include '_partials/adminnav.html.twig' %}
    <div class="row">
        <div style="overflow-x:auto; width:100%">
            <div class="container customtable">
                <div class="row header ">
                    <div class="col-12 ">
                        <h1> Ajouter horaire</h1>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col back"><h3><a href="{{ path('app_horaires') }}"><i class="fa-solid fa-backward"></i></a></h3></div>
                </div>      
                <div class="row mt-3">
                    {{ form_start(formView, {'attr': {'enctype': 'multipart/form-data'}}) }}
                        {{form(formView)}}
                    {{ form_start(formView, {'attr': {'enctype': 'multipart/form-data'}}) }}
                </div>
            </div>
        </div>
    </div>




{% endblock %}
