@font-face {
  font-family: 'Barlow';
  src: url('/includes/fonts/Barlow.ttf') format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/includes/fonts/Rajdhani.ttf') format('truetype');
}
@media (max-width:991px){
  .navbar-collapse{
    background-color: #D94350;
    position:absolute;

    width:100%;
    right:0px;
    top:100px;
    color:#fff;
    padding:20px;
    text-align:center !important;
  }
  .navbar-collapse a, .navbar-collapse a:hover{
    color:#fff !important;
  }
}
.inputs{
  text-align:left !important;
}
#voitures_miseencirculation{
  display:inline;
  padding:0px !important;
}
#voitures select{
  width:auto !important;
  margin-right:5px;
}
.customtable #services{
  background:none !important;
  color:#000 !important;
}
.row.toverify{
  background:#D9777F;
}
.services .row, .occasions .row, .temoignages .row{
  padding:3px;
}
.header{
  font-weight:bold;
}
#admin #temoignages #temoignages_note label{
  width:20px !important;
  display:inline-block !important;
}
#temoignages #temoignages_note label{
  display:inline !important;
}
input[type="radio"] {
  width:50px;

  
}
#temoignages label{
  width:100% !important;
}
#temoignages textarea, #temoignages input{
  color:#262526;
}
#temoignages textarea{
  width:80%;
  height:60px;
}
#temoignages button{
  background-color:#f2f2f2;
  color:#262526;
}
#temoignages_note{
  display:inline;
  padding:0px;
}
#temoignages select, #temoignages input, #temoignages textarea{
  background:#fff !important;
}
ul.navbar-nav {
  display: flex;
  justify-content: flex-end;
  /* Ajoutez les autres propriétés CSS selon vos besoins */
}
textarea{
  height:300px;
}
.right{
  text-align:right;
}
.navbar{
  background:#D94350 !important;;
  opacity:1 !important;
  position:fixed !important;
  width:100% !important;
}

a.nav-link{
  display:inline-block !important;
}
.customtable{
  margin-top:150px;
  margin-bottom:100px;
}
#slider{
  background: url('/images/slide.jpg');
  background-size: cover;
  height: auto;
  background-repeat: no-repeat;
  background-position: center center;
  padding:200px 0px;
  text-align: center;;
}
@media (min-width:992px) and (max-width:1099px){
  .navbar li{
    margin:0px 5px;
  }
}
@media (min-width:1100px){
  .navbar li{
    margin:0px 10px;
  }
}
h1,h2,h3{
  margin-top:20px;
  margin-bottom:20px;
}
h1{
  font-size:60px !important;
}
.col-12.service{
  padding:40px;
}
.navbar-nav{
  width:100% !important;
}
.title{
  margin-top:60px;
}
.filter .inputs, .filters .description{
  padding:10px;
}
.filters{
  margin-bottom:20px;
}
@media(min-width:992px){
  .col-md-3{
    padding:10px;
  }
}
label{
  width:200px;
  vertical-align: top;
}
#contact div{
  margin:10px 0px;
}
#footer, #services, #temoignages{
  background-color: #D94350;
  color:#fff !important;
}
.actions a{
  margin:5px;
}
#footer{
  padding:20px 0px;
  text-align: center;
  position:absolute;
  bottom:0px;
  width:100%;
}
.titleadmin .actions{
  font-size:40px;
  text-align: right;
}
#utilisateurs div div{
  display:none !important;
}
form div{
  padding:10px;
}
#footer, #services, #temoignages, #occasions, #contact{
  padding:0px 40px 40px 40px;
}
#services h1,#services h2,#services h3 , #temoignages h1, #temoignages h2,#temoignages h3{
  color:#fff !important;
}
body{
  color:#262526;
  background:#f2f2f2;
}
body, p, div, span{
  font-family:Barlow !important;
  
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family:Rajdhani !important;
  color:#262526;
}
#occasions select{
  width:90px;
  background:#D94350;
  color:#fff;
  border-width: 0px;
}
input, textarea, form select{
  width:300px;
  color:#fff;
  background:#D94350;
  border-width: 0px;
}
button{
  border-width:0px;
  background: #D94350;
  color:#fff;
  padding:10px 20px;
}
form ul{
  position:absolute;
  list-style-type: none;
  color:#D94350;
  padding:0px !important;
  margin-bottom:10px;
}
#admin #temoignages{
  background:none !important;
}
#admin #temoignages select, #admin button, #admin #temoignages input, #admin #temoignages textarea{
  background:#D94350 !important;
  color:#fff !important;
}
#admin #temoignages label{
  color:#262526 !important;
}
#widget{
  background:#D94350;
  color:#fff;
  border-radius:50%;
  width:50px;
  height:50px;  
  position:fixed;
  box-shadow: 0px 0px 5px #fff;
  padding-left:10px;
  padding-top:5px;
  font-size:30px;  
  right:20px;
}
#widget.phone{
  bottom:20px;
}
#widget.mail{
  bottom:80px;
}



.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top:10px;
}

.sliders_control {
  position: relative;
  min-height: 10px;
}
#slider, #services, #occasions, #temoignages, #contact{
  width:100%;
}
.row{
  --bs-gutter-x:0px !important;
  --bs-guttter-y:0px !important;
}
.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #D94350;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #D94350;
  border-radius: 50%;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #D94350;
}



input[type="number"] {
  color: #D94350;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #D94350;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}